In [1]:
import pandas as pd 
file2 = "F:/8th sem/Cleaning of Data & Merging into single excel/Data Analyst Quick Assignment.xlsx"

In [2]:
import pandas as pd
from openpyxl import load_workbook
fileSummary = "F:/8th sem/Cleaning of Data & Merging into single excel/cleaned payout & summary files/summary.xlsx files/summary.xlsx"
df = pd.read_excel(fileSummary, sheet_name=0)

df1 = pd.read_excel(file2 ,sheet_name ='Summary')
df2 = pd.concat([df,df1], ignore_index = True)
with pd.ExcelWriter(file2, engine="openpyxl", mode='a', if_sheet_exists='overlay') as writer:
    df2.to_excel(writer, sheet_name='Summary', index=False)

In [3]:
df2

,Brand,Location,City,Res-Id,Payout Period,Payout Settlement Date,Total Payout,Total Orders (Delivered + Cancelled),Bank UTR,FileName
0,Alpha Biryani,Whitefield,Bangalore,Rest. ID - 408,01 April - 05 April,08 April,₹6818.6,26,AXISCN0957979233,invoice_Annexure_408_09042025_1744207092917.xlsx

In [4]:
import pandas as pd
from openpyxl import load_workbook
filePayout = "F:/8th sem/Cleaning of Data & Merging into single excel/cleaned payout & summary files/payout break out.xlsx files/payout break.xlsx"
df3 = pd.read_excel(filePayout, sheet_name=0)

df4 = pd.read_excel(file2 ,sheet_name ='Payout Breakup Tab')
df5 = pd.concat([df3,df4], ignore_index = True)
with pd.ExcelWriter(file2, engine="openpyxl", mode='a', if_sheet_exists='overlay') as writer:
    df5.to_excel(writer, sheet_name='Payout Breakup Tab', index=False)

In [5]:
df5

,Particulars,Delivered Orders,Cancelled Orders,Total,Brand,Res-Id,Payout Period,Total Payout,FileName
0,Orders,26,0,26,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx

In [6]:
import pandas as pd
from openpyxl import load_workbook
fileOrder = "F:/8th sem/Cleaning of Data & Merging into single excel/cleaned payout & summary files/order level.xlsx files/order level.xlsx"
df6 = pd.read_excel(fileOrder, sheet_name=0)

df7 = pd.read_excel(file2 ,sheet_name ='Order Level')
df8 = pd.concat([df6,df7], ignore_index = True)
with pd.ExcelWriter(file2, engine="openpyxl", mode='a', if_sheet_exists='overlay') as writer:
    df8.to_excel(writer, sheet_name='Order Level', index=False)

C:\Users\Prashanth\AppData\Local\Temp\ipykernel_44804\1877064100.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df8 = pd.concat([df6,df7], ignore_index = True)

In [7]:
df8

,Brand,Res-Id,Payout Period,Total Payout,FileName,Order ID,Parent Order ID,Order Date,Order Status,Order Category,...,MFR Accurate?,MFR Pressed?,Coupon Code Sourced,Discount Campaign ID,Replicated Order,Base order ID,Cancellation time,Pick Up Status,Swiggy One Customer?,Pocket Hero Order?
0,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202498434156623,0,2025-04-01 23:03:54,delivered,regular,...,No,No,0,"a5a1f97e-83c1-4a24-8a72-9ad0d739951d,a5a1f97e-...",No,0,0,0,Yes,No
1,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202547157961802,0,2025-04-02 12:35:57,delivered,regular,...,No,No,0,"1490c802-74d6-4119-92b2-f9e365723716,1490c802-...",No,0,0,0,Yes,No
2,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202560186008853,0,2025-04-02 16:13:06,delivered,regular,...,No,No,0,"5bae4791-1165-43e4-a530-b247c11f8475,5bae4791-...",No,0,0,0,Yes,No
3,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202572805829234,0,2025-04-02 19:43:25,delivered,regular,...,No,No,0,"1e919c3c-0a8f-4e0e-bd57-f890e9ef1ca6,2530aa42-...",No,0,0,0,Yes,No
4,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202572847613980,0,2025-04-02 19:44:07,delivered,regular,...,No,No,0,"c40d3826-d5f5-4dee-8a10-8d349051bd65,c40d3826-...",No,0,0,0,Yes,No
5,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202573873663221,0,2025-04-02 20:01:13,delivered,regular,...,No,No,0,"fffff8c6-a052-4141-8cbf-a0ee433a078d,fffff8c6-...",No,0,0,0,Yes,No
6,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202579680724520,0,2025-04-02 21:38:00,delivered,regular,...,No,No,0,"8d1636d4-b3b3-4129-b4b1-fbc347bdf23c,2530aa42-...",No,0,0,0,Yes,No
7,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202589544033088,0,2025-04-03 00:22:24,delivered,regular,...,No,No,0,"3ae44507-33e9-48cd-90a6-21db69687afd,3ae44507-...",No,0,0,0,Yes,No
8,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202589597523845,0,2025-04-03 00:23:17,delivered,regular,...,No,No,0,"d61c9865-60e3-472f-bfe0-d3bd555618da,2530aa42-...",No,0,0,0,Yes,No
9,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202635510720587,0,2025-04-03 13:08:30,delivered,regular,...,No,No,0,"5eb3d1eb-c435-472b-b950-8a31c55d57eb,5eb3d1eb-...",No,0,0,0,Yes,No
10,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202642189656165,0,2025-04-03 14:59:49,delivered,regular,...,No,No,0,"bf3a44bd-7b74-4ad6-a230-58b1b2fbf3c7,bf3a44bd-...",No,0,0,0,No,No
11,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202649721003684,0,2025-04-03 17:05:21,delivered,regular,...,No,No,0,"3f176d3b-a963-4f8a-8401-05df6c69cd0a,e6ffb29b-...",No,0,0,0,Yes,No
12,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202658846490751,0,2025-04-03 19:37:26,delivered,regular,...,No,No,0,89367970,No,0,0,0,No,No
13,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202666687566720,0,2025-04-03 21:48:07,delivered,regular,...,No,No,0,"b83a341f-0c98-4cc9-a1d6-08baad6b162c,b83a341f-...",No,0,0,0,Yes,No
14,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202670494726010,0,2025-04-03 22:51:34,delivered,regular,...,No,No,0,"8405fbc7-56d8-485b-9915-c4376221ab93,2530aa42-...",No,0,0,0,Yes,No
15,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202671405343080,0,2025-04-03 23:06:45,delivered,regular,...,No,No,0,"48c6ed71-1932-4d01-bc70-0d44819253ae,2530aa42-...",No,0,0,0,Yes,No
16,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202677246130761,0,2025-04-04 00:44:06,delivered,regular,...,No,No,0,"4f647844-9d44-437e-a15d-3112ef05eb88,2530aa42-...",No,0,0,0,Yes,No
17,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202720643440290,0,2025-04-04 12:47:23,delivered,regular,...,No,No,0,"a5996969-dc20-431d-aebb-d052c3277350,c7c38bc1-...",No,0,0,0,Yes,No
18,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202725039543989,0,2025-04-04 14:00:39,delivered,regular,...,No,No,0,87439924,No,0,0,0,No,No
19,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202725058789587,0,2025-04-04 14:00:58,delivered,regular,...,No,No,0,"d4924356-bdf3-4de4-a0ab-4318299550b3,3591d81f-...",No,0,0,0,Yes,No
20,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202739323692928,0,2025-04-04 17:58:43,delivered,regular,...,No,No,0,"74a175e7-4d41-4a2f-bcda-f3c6329d2f84,74a175e7-...",No,0,0,0,Yes,No
21,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202747516961353,0,2025-04-04 20:15:16,delivered,regular,...,No,No,0,"711fc754-4304-4178-a84a-19e7d53c8509,2530aa42-...",No,0,0,0,Yes,No
22,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202812568281968,0,2025-04-05 14:19:28,delivered,regular,...,No,No,0,"1e919c3c-0a8f-4e0e-bd57-f890e9ef1ca6,1e919c3c-...",No,0,0,0,Yes,No
23,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202823807505989,0,2025-04-05 17:26:47,delivered,regular,...,No,No,0,"cf631845-b09f-4c45-a881-1b34e57960da,cf631845-...",No,0,0,0,Yes,No
24,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202833087336750,0,2025-04-05 20:01:27,delivered,regular,...,No,No,0,"ac386d2e-009d-4fe7-9f8c-c8564feffa33,ac386d2e-...",No,0,0,0,Yes,No
25,Alpha Biryani,Rest. ID - 408,01 April - 05 April,₹6818.6,invoice_Annexure_408_09042025_1744207092917.xlsx,202836025370892,0,2025-04-05 20:50:25,delivered,regular,...,No,No,0,"eba84cbd-6f4a-4391-92b0-1272b957a2cd,eba84cbd-...",No,0,0,0,Yes,No

In [8]:
import pandas as pd
from openpyxl import load_workbook
file1 = "F:/8th sem/Cleaning of Data & Merging into single excel/cleaned payout & summary files/commission invoice.xlsx files/commission.xlsx"
df9 = pd.read_excel(file1, sheet_name=0)

df10 = pd.read_excel(file2 ,sheet_name ='Commission Invoice')
df11 = pd.concat([df9,df10], ignore_index = True)
with pd.ExcelWriter(file2, engine="openpyxl", mode='a', if_sheet_exists='overlay') as writer:
    df11.to_excel(writer, sheet_name='Commission Invoice', index=False)

C:\Users\Prashanth\AppData\Local\Temp\ipykernel_44804\3329399869.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df11 = pd.concat([df9,df10], ignore_index = True)

In [9]:
df11

,payout_period,file_name,fy_year,year,month,irn,mann_gstin,swiggy_gstin,Sr.\nno.,Description,...,State\nCESS\nAmount,Total Amount (Rs.),other_charges_reimbursement_of_discount,grand_total,brand_id,pan,invoice_date,invoice_number,original_invoice_number,invoice_type
0,01/04/2025-05/04/2025,taco_Tax_Invoice_408_09042025_250409FS29010820...,2024-25&2025-26,2024-25,01/04/2025,766f2de785453717bd7194b0335b80c7cd39b341518a9e...,29AAFCB7707D1ZQ,29ABNFM9601R1Z9,NaN,NaN,...,NaN,NaN,"4,001.61","7,143.443",408.0,AAFCB7707D,2025-04-09,250409FS29010820,-,INV
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Service Fee,...,0.0,"6,095.656",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Long Distance Pack\ncharges,...,0.0,371.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN